*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("images/hero.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    }

.row{
    max-width: 1140px;
   margin:0 auto;
}    

.logo{
    height: 100px;
    height: 100px;
   /* margin-left:70px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

ul{
    display: flex;
    list-style-type: none;
}

li  a{
    color: white;
    padding: 5px 0;
    margin: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover{
    border-bottom: 2px solid orange;
}

.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 color: white;
}

.hero-text{
    font-weight:300;
    text-size-adjust: 48px;
    /* font-size: 40px; */
    word-spacing: 4;
}

.btn{
    display: inline-block;
    font-weight: 300;
    padding: 10px 30px;
    text-decoration: none;
    color:white;
    border-radius: 100px;
}

.btn:hover, btn:active {
    background-color: #cf6d17;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost{
    border: 1px solid;
    color: orangered;
    transition: color 0.2s;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: white;
}

/* Lecture 7 */
h2{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;

}

h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top :30px
}

.features-text{
    width: 800px;
    margin: auto;
    margin-top:20px;
    padding: 20px;
    
}

.features{
    padding: 80px;
}


.big-icon{
    font-size: 350%;
    display:block;
    color: #e67e22;
    margin-bottom: 10px;
--ionicon-stroke-width: 20px;
}

.cards{
    display: flex;
    justify-content: stretch;
}

.cards p{
    text-align: justify;
    font-size: 90%;
    line-height: 145%;
    padding: 20px;
}

.cards > div{
    width: 25%;
    padding: 15px;
}

h3{
font-size: 110%;
font-weight: 300;
margin: 15px 0px;
}

.meals-flexbox{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.meals-flexbox div{
    width: 25%;
    overflow: hidden;
}

.meals-flexbox img{
    max-width: 100%;
    transform: scale(1.15);
    transition: transform 0.5s;
    opacity: 0.7;
}

.meals-flexbox img:hover{
transform: scale(1);
opacity: 1;
}

.phoneapp{
    width: 210px;
 margin-left:310px
 
}


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.span-1-of-2{
    width: 49.2%;
}

.col{
    display:block;
    float:left;
    margin:1% 0 1% 1.6% ;
}

.num{
    border: #e67e22 solid 2px;
    border-radius: 100px;
    padding:7px;
    width:50px;
    height:50px;
    text-align:center;
    font-size: 30px;
    color:#cf6d17;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.how{
    background-color: rgb(245, 243, 240);
}

.span-1-of-4 {
    width: 93.8%;
}

.box {
    padding: 8px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.hydrated {
    visibility: inherit;
}

pre{
    font-family: 'Lato', sans-serif;
}
.live{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("/resources/images/back-customers.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: auto 0;
}

.coma{
    font-size: 140px;
    font-style: italic;
    color: antiquewhite;
}

.content{
    font-size: 29px;
    color: white;
}

.customer{
    border: 2px solid black;
    border-radius: 100px;
    width: 60px;
    display: block;
    margin-top: 25px;
}

.span-1-of-3 {
    width: 32.26%;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #cac5c5;
}

.section-plans {
    background-color: #f4f4f4;
}

div {
    display: block;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.col:first-child {
    margin-left: 0;
}

.plan-box ul {
    list-style: none;
}

.puu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.span-2-of-3 {
    width: 66.13%;
}

textarea {
    height: 100px;
}

textarea {
    overflow: auto;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.row:after{
    clear:both
}

.row:before, .row:after{
    content:"";
    display:table;
}